<template>
  <div>
    <div>{{ $route.params.id }}</div>
    <h1>{{ title }}</h1>
    <p>{{ body }}</p>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: this.title,
      meta: [
        {
          hid: "description",
          name: "description",
          content: this.body,
        },
      ],
    };
  },
  name: "productPageItems",
  computed: {
    title() {
      return this.$route.query.title;
    },
    body() {
      return this.$route.query.body;
    },
  },
};
</script>

<style></style>
