@import "./layouts/profile.scss";
@import "./general.scss";
@import "./components/footer.scss";
#input-59,
#input-15 {
  opacity: 1 !important;
}
input[role="checkbox"] {
  opacity: 1 !important;
}
