<template>
  <div>
    <NuxtLink to="/products" class="nuxtlink">Products</NuxtLink>
    <NuxtLink to="/formPage" class="nuxtlink">Form</NuxtLink>
    <p>header</p>
    <v-btn @click="toggleLocale">{{ currentLanguage }}</v-btn>
  </div>
</template>

<script>
export default {
  data() {
    return {
      currentLanguage: this.$i18n.locale,
    };
  },
  watch: {
    "$i18n.locale"(newLocale) {
      this.updateDirection(newLocale);
    },
  },
  mounted() {
    this.updateDirection(this.$i18n.locale);
  },
  methods: {
    toggleLocale() {
      const newLocale = this.$i18n.locale === "en" ? "ar" : "en";
      this.$i18n.setLocale(newLocale);
      this.currentLanguage = newLocale;
    },
    updateDirection(locale) {
      const newDir = this.$i18n.locales.find((loc) => loc.code === locale).dir;
      document.documentElement.setAttribute("dir", newDir);
      this.$vuetify.rtl = newDir === "rtl";
    },
  },
};
</script>

<style></style>
