<template>
  <form>
    <v-text-field
      outlined
      v-model="name"
      :error-messages="nameErrors"
      label="Name"
      required
      @input="$v.name.$touch()"
      @blur="$v.name.$touch()"
    ></v-text-field>
    <v-btn @click="submit"> submit </v-btn>
    <v-btn @click="clear"> clear </v-btn>

    <p v-if="submitStatus === 'OK'">Thanks for your submission!</p>
    <p v-else-if="submitStatus === 'ERROR'">Please fill the form correctly.</p>
    <p v-else-if="submitStatus === 'PENDING'">Sending...</p>
  </form>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required, maxLength, alpha } from "vuelidate/lib/validators";
const mustBeCool = (value) => value.indexOf("cool") >= 0;
export default {
  mixins: [validationMixin],
  validations: {
    name: { mustBeCool, alpha, required, maxLength: maxLength(10) },
  },

  data: () => ({
    name: "",
    submitStatus: null,
  }),

  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.maxLength &&
        errors.push("Name must be at most 10 characters long");
      !this.$v.name.required && errors.push("Name is required.");
      !this.$v.name.alpha && errors.push("Name must be just alpha.");
      !this.$v.name.mustBeCool && errors.push("You should have must be cool.");
      return errors;
    },
  },

  methods: {
    submit() {
      console.log("submit!");
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else {
        this.submitStatus = "PENDING";
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    },
    clear() {
      this.$v.$reset();
      this.name = "";
    },
  },
};
</script>
