<template>
  <div style="border: solid 1px; margin: 6px">
    <nuxt-link
      :to="{ path: `/products/${id}`, query: { title: title, body: body } }"
    >
      {{ title }}
    </nuxt-link>
    <h1>{{ body }}</h1>
  </div>
</template>

<script>
export default {
  props: ["title", "body", "id"],
};
</script>

<style></style>
