<template>
  <div>
    <aside class="sidebar">
      <ul>
        <NuxtLink to="/" class="nuxtlink">Home</NuxtLink>
      </ul>
    </aside>
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
