<template>
  <div>
    <v-btn @click="changeLayout" outlined class="black white--text">Change Layout</v-btn>
    <LazyProduct
      v-for="post in posts"
      :key="post.id"
      :title="post.title"
      :body="post.body"
      :id="post.id"
    />
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: "Products",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Products",
        },
      ],
    };
  },
  data() {
    return {
      title: "title",
      body: "body",
      posts: [],
    };
  },
  name: "productPage",
  layout: "profile",
  methods: {
    changeLayout() {
      this.$nuxt.layoutName === "auth"
        ? this.$nuxt.setLayout("profile")
        : this.$nuxt.setLayout("auth"); // Set the layout to 'blog'
      console.log();
    },
  },
  async asyncData() {
    const response = await fetch("https://jsonplaceholder.typicode.com/posts");
    const data = await response.json();
    return {
      posts: data,
    };
  },

  // async fetch() {
  //   const response = await fetch("https://jsonplaceholder.typicode.com/posts");
  //   const data = await response.json();
  //   this.posts = data;
  // },
};
</script>

<style></style>
