<template>
  <v-app>
    <AppHeader />
    <Nuxt />
    <AppFooter />
  </v-app>
</template>
<script>
export default {
  // head() {
  //   return {
  //     htmlAttrs: {
  //       lang: this.$i18n.locale,
  //       dir: this.$i18n.locale === "ar" ? "rtl" : "ltr",
  //     },
  //   };
  // },
  // watch: {
  //   "$i18n.locale"(newLocale) {
  //     const newDir = this.$i18n.locales.find(
  //       (locale) => locale.code === newLocale
  //     ).dir;
  //     document.documentElement.setAttribute("dir", newDir);
  //   },
  // },
  // mounted() {
  //   const currentDir = this.$i18n.locales.find(
  //     (locale) => locale.code === this.$i18n.locale
  //   ).dir;
  //   document.documentElement.setAttribute("dir", currentDir);
  // },
};
</script>
