<template>
  <div>
    a
    <h1>{{ $t("welcome") }}</h1>
    شش
    <v-checkbox
      v-model="checkbox"
      :label="`Checkbox 1: ${checkbox.toString()}`"
    ></v-checkbox>
    <button @click="toggleTheme">{{ theme }}</button>
  </div>
</template>

<script>
export default {
  name: "IndexPage",

  head() {
    return {
      title: "Home",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Home",
        },
      ],
    };
  },
  data() {
    return {
      theme: "light",
      checkbox: true,
    };
  },
  mounted() {
    // Ensure this code runs only on the client side
    if (process.client) {
      const storedTheme = localStorage.getItem("theme");
      if (storedTheme) {
        this.theme = storedTheme;
      }
    }
  },
  methods: {
    toggleTheme() {
      this.theme = this.theme === "light" ? "dark" : "light";
      localStorage.setItem("theme", this.theme);
    },
  },
};
</script>
<style>

</style>
